@use '../abstracts' as a;

.btnFondoBlanco {
    border: 2px solid a.$primary;
    color: a.$primary;
    background-color: white;
    width: 8.3rem;
    height: 2.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    text-decoration: none;
    text-align: center;
}

.btnBusqueda {
    font-size: 1.3rem;
    background: transparent;
    border: 0;
    padding-top: 5px;
    outline: transparent;
}

.btnVerConsolas {
    border: 2px solid a.$primary;
    color: white;
    background-color: a.$primary;
    width: 8.3rem;
    min-height: 2.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem;
}