@use '../abstracts' as a;

.btnFondoBlanco {
    border: 2px solid a.$primary;
    color: a.$primary;
    background-color: white;
    width: 8.3rem;
    height: 2.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    text-decoration: none;
    text-align: center;
}

.btnBusqueda {
    font-size: 1.3rem;
    background: transparent;
    border: 0;
    padding-top: 5px;
    outline: transparent;
}

.btnVerConsolas {
    border: 2px solid a.$primary;
    color: white;
    background-color: a.$primary;
    width: 8.3rem;
    min-height: 2.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem;
}

.btnContacto {
    margin-top: -0.5rem;
    background-color: a.$primary;
    border-color: a.$primary;
    color: white;
    font-size: 1rem;
    line-height: 16px;
    height: 3rem;
    transition: 0.3s;
    min-width: 12rem;
}

.btnLogin {
    margin-top: -0.5rem;
    background-color: a.$primary;
    border-color: a.$primary;
    color: white;
    font-size: 1rem;
    line-height: 16px;
    height: 3rem;
    transition: 0.3s;
    min-width: 12rem;
}

.btnAgregarProducto {
    margin-top: -0.5rem;
    background-color: a.$primary;
    border-color: a.$primary;
    color: white;
    font-size: 1rem;
    line-height: 16px;
    height: 3rem;
    transition: 0.3s;
    min-width: 75vw;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.35rem;
    margin-right: 0.5rem;
}

.btnDelete {
    font-size: 1.2rem;
    align-self: center;
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: rgb(162 34 34);
    color: #fdffee;
}

.btnEdit {
    font-size: 1.2rem;
    align-self: center;
    width: 2.1rem;
    height: 2rem;
    position: relative;
    background-color: a.$primary;
    color: #fdffee;   
}