.raleway400 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
  }

  .raleway500 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
  }

  .raleway600 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
  }

  .raleway700 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
  }