@use '../abstracts' as a;

.container__contacto {
    background-color: a.$tertiary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__link {
        text-decoration: none;
        color: a.$secondary;
        padding: 0 0 1rem 0;
    }
}

.contacto {
    display: flex;
    flex-direction: column;

    &__subtitulo {
        font-size: 1rem;
        padding: 1rem 1rem 1.7rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    &__inputGroup {
        position: relative;
    }

    &__label {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        cursor: text;
        font-size: 0.9rem;
        color: #A2A2A2;
        transition: 0.2s;
    }

    &__input {
        width: 90vw;
        border-radius: 4px;
        height: 2rem;
        border-style: none;
        box-shadow: 0px 4px 0px -2px #C8C8C8;
        transition: 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0px 3px 1px 0px #2A7AE4;
        }
    }
}

.contacto__input:focus~.contacto__label,
.contacto__input:valid~.contacto__label {
    top: -1.7rem;
    font-size: 0.8rem;
}