.container__header {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-around;
}