@use '../abstracts' as a;

.container__login {
    background-color: a.$grey;
    padding: 4rem 3rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
        padding-bottom: 1.4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        align-items: center;
    }

    &__inputGroup {
        position: relative;
    }

    &__label {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        cursor: text;
        font-size: 0.9rem;
        color: #A2A2A2;
        transition: 0.2s;
    }

    &__input {
        width: 65vw;
        border-radius: 4px;
        height: 2rem;
        border-style: none;
        box-shadow: 0px 4px 0px -2px #C8C8C8;
        transition: 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0px 3px 1px 0px #2A7AE4;
        };
    }
}

.login__input:focus~.login__label,
.login__input:valid~.login__label {
    top: -1.7rem;
    font-size: 0.8rem;
}

.noBajar {
    top: -1.7rem;
    font-size: 0.8rem;  
}